/*cores utilizadas*/

:root {
  --cor-primaria: #b3dbff;
  --cor-secundaria: #5fbfff;
  --cor-fundo: #f4f4f4;
  --cor-texto: #333;
  --cor-branca: #ffffff;
  --cor-borda: #ddd;
}
/*pagina inical*/

section{
    text-align: center;
}

img{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
}

aside{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: var(--cor-branca);
    margin-bottom: 0;
}
/*contatos*/
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}
  input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

/*servicos*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid black;
}


caption{
    text-align: center;
}

/*geral*/

a { color: var(--cor-branca); text-decoration: none; font-weight: 500; 
}
a:hover {
    background-color: #e6e6e6;
    border-radius: 4px;
}
a:focus {
  outline: 2px solid var(--cor-secundaria);
  outline-offset: 2px;
  border-radius: 4px;
}

header nav a {
  color: var(--cor-texto);
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--cor-branca);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

p{
    text-align: center;
}

header{
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: var(--cor-secundaria);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}footer {
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: #333;
  color: #aaa;
}

aside{
  background-color: #5fbfff;
}

/* Aula 05 - Flexbox e Grid*/

nav{display: flex; justify-content: space-around; align-items: center;}

.servicos{display: grid; grid-template-columns: 15fr 15fr; grid-template-rows: auto 3fr auto; gap: 20px;}

header { grid-column: 1 / -1; }

aside { grid-column: 1; }

main { grid-column: 2; }

footer { grid-column: 1 / -1; }

.img1{
  display: flex; justify-content: space-around; flex-wrap: wrap;
}

.diferenciais{
  display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 10px;
}

